* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@keyframes waveAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.App {
  padding: 1.5rem;
  background: linear-gradient(-45deg, #03bd2b, #000000, #03bd2b, #000000);
  background-size: 400% 400%;
  animation: waveAnimation 15s linear infinite;
}


.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Optionally adjust the gap between cards */
  gap: 1rem;
}

.search_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.title h1 {
  color: white;
  cursor: pointer;
}

.search_box {
  display: flex;
}

.search_box input {
  border: 0;
  outline: 0;
  margin-right: 0.2rem;
  padding: 0.3rem;
  border-radius: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  font-size: 1.2rem;
  height: 2rem;
}

.search_box button {
  border: 0;
  outline: 0;
  background-color: white;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.search_box button:hover {
  background-color: #333;
  color: #f2f2f2;
}

.search_box button:active {
  background-color: #555;
}

.search_box button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .games {
    flex-direction: column;
    align-items: center;
  }

  .search_nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    padding-right: 0;
  }

  .search_box {
    width: 100%;
    margin-top: 1rem;
  }

  .search_box input {
    width: 80%;
    padding-left: 1rem; /* Adjust padding for smaller screens */
    padding-right: 1rem; /* Adjust padding for smaller screens */
  }

  .search_box button {
    width: 15%;
  }
}
