* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  padding: 1.5rem;
  background: linear-gradient(-45deg, #02c42c, #000000, #04801f, #000000);
  background-size: 400% 400%;
  /* Consider simplifying or removing the animation if it impacts performance */
  
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.search_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.title h1 {
  color: white;
  cursor: pointer;
}

.search_box {
  display: flex;
}

.search_box input {
  border: 0;
  outline: 0;
  margin-right: 0.2rem;
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  height: 2rem;
  /* Simplify padding adjustments */
}

.search_box button {
  border: 0;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  /* Transition effect simplified */
}

/* Consider simplifying hover effects */
.search_box button:hover {
  background-color: #333;
  color: #f2f2f2;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .games {
    flex-direction: column;
    align-items: center;
  }

  .search_nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .search_box {
    width: 100%;
    margin-top: 1rem;
  }

  .search_box input {
    width: 80%;
  }

  .search_box button {
    width: 15%;
  }
}

.genre_buttons {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.genre_buttons button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.genre_buttons button:hover {
  background-color: #555;
}